*.egg-info
*.patch
*.pyc
.coverage
.idea
.installed.cfg
.mr.developer.cfg
.venv
bimt-app.db
bin/
bms-app.db
bower_components
build/
cover/
develop-eggs
develop-eggs/
docs/html/
eggs
include/
lib/
local
man/
node_modules
parts
var
