[buildout]
unzip = true
newest = false
extends = versions.cfg
versions = versions
prefer-final = true
extensions = buildout-versions
develop = .

eggs =
    pyramid_bimt
parts =
    scripts

# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    code.google.com
    which.googlecode.com

[scripts]
recipe = z3c.recipe.scripts
dependent-scripts = true
eggs =
    ${buildout:eggs}
interpreter = py